* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    min-width: 400px;
}
.navlinks{
    color: white;
}
.navlinks > h1 {
    display: inline-block;
    margin: 0 10px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    transition: all 0.2s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .logo {
    cursor: pointer;
}

.header .navlinks li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.header .navlinks li a:hover {
    color: rgb(218, 226, 224);
}

.header .btn button {
    margin-left: 20px;
    font-weight: 600;
    color: rgb(255, 123, 171);
    padding: 5px 15px;
    background: #151718;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: rgb(255, 123, 171);
    transform: scale(1.1);
}

.foto {
    height: 600px;
    width: 550px;
    margin-top: 90px;
    margin-left: 280px;
    border: 2px solid rgb(255, 123, 171);
}

.content {
    display: flex;
    align-items: center;
}



#formulario_contact {
    display: inline-block;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 400px;

}

#formulario_contact .element {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

fieldset {
    background-color: rgb(240, 240, 233);
    height: 600px;
    border-color: rgb(255, 123, 171);
}

p,
h3,
h4 {
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}




#formulario_contact h3::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 123, 171);
}

.element[type="text"],
[type="email"],
[type="tel"] {
    width: 80%;
    margin-left: 20px;
}

#formulario_contact label.element {
    margin-left: 10px;
}

#formulario_contact select {
    margin-left: 20px;
}

#formulario_contact textarea {
    width: 80%;
    height: 100px;
    margin-left: 20px;
}

#formulario_contact .element[for="nombre"],
[for="telefono"],
[for="remitente"],
[for="text"] {
    font-size: 1em;

}

#formulario_contact input[type="submit"] {
    margin-top: 10px;
    font-size: 1em;
}

#formulario_contact label[for="condiciones"] {
    font-size: 12px;
}

#formulario_contact input[type="submit"] {
    margin-left: 20px;
}

.carrito {
    height: 50px;
    width: 50px;
    background-size: contain;
}



#pie_contact {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: #000000;
    bottom: 0;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin-top: 30px;
}

.titulo h1 {
    color: rgb(255, 123, 171);
}

@media screen and (min-width: 768px) {
    .header {
        padding: 5px 20%;
    }

    .foto {
        margin-left: 10%;
        margin-right: 10%;
    }

    #formulario_contact {
        margin-left: 20%;
    }
}


@media screen and (max-width: 767px) {
    .header {
        padding: 5px 10%;
    }

    .foto {
        margin-left: 5%;
        margin-right: 5%;
    }

    #formulario_contact {
        margin-left: 5%;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 5px 5%;
    }

    .foto {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #formulario_contact {
        margin-left: 5%;
        width: 90%;
    }
}
.navmid {
    background-color: #222222;
    margin: 0 auto;
  }
  
  .imgreloj {
    color: white;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;}
  
  .imgreloj>img {
    width: 20%;
    height: auto;
  }
  
  .imgbolsa {
    top: 50%;
    left: 10%;
    color: white;
    display: inline-block;
    margin-right: 5%;
    text-align: center;
  }
  
  .imgbolsa>img {
    width: 20%;
    height: auto;
  }
  
  .imgcartel {
    top: 50%;
    left: 10%;
    color: white;
    display: inline-block;
    margin-right: 5%;
    text-align: center;
  }
  
  .imgcartel>img {
    width: 20%;
    height: auto;
  }
  
  .imgverificado {
    top: 50%;
    left: 10%;
    color: white;
    display: inline-block;
    margin-right: 5%;
    text-align: center;
  }
  
  .imgverificado>img {
    width: 20%;
    height: auto;
  }
  
  .lista1 {
    display: inline-block;
    position: relative;
    top: 95%;
    left: 7.5%;
  }
  
  .lista2 {
    display: inline-block;
    position: relative;
    top: 95%;
    left: 32.5%;
  }
  
  .lista3 {
    display: inline-block;
    position: relative;
    top: 95%;
    left: 57.5%;
  }
  
  .lista1>p {
    color: rgb(255, 123, 171);
    margin-left: 0%;
  }
  
  .lista2>p {
    color: rgb(255, 123, 171);
  }
  
  .lista3>p {
    color: rgb(255, 123, 171);
  }
  
  .headlist {
    color: rgb(255, 123, 171);
  }
  
  .headlist:hover {
    text-decoration: underline;
    scale: 105%;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 3px;
    bottom: 0;
    width: 100%;
  }
  .link:hover {
    scale: 105%;
    text-decoration: underline;
  }
  .link>a {
    text-decoration: none;
    color: white;
  }
  .carrito:hover {
    scale: 110%;
  }
  .instagram:hover {
    scale: 110%;
  }
  .facebook:hover {
    scale: 110%;
  }
  .tiktok:hover {
    scale: 110%;
  }
  .pinterest:hover {
    scale: 110%;
  }
  .imgreloj:hover {
    scale: 110%;
  }
  .imgbolsa:hover {
    scale: 110%;
  }
  .imgcartel:hover {
    scale: 110%;
  }
  .imgverificado:hover {
    scale: 110%;
  }
  .lista1-1:hover {
    scale: 105%;
  }
  .lista2-1:hover {
    scale: 105%;
  }
  .lista3-1:hover {
    scale: 105%;
  }
  .carrito>img {
    width: 20%;
    height: auto;
  }
.listas{
    background-color: white;
}  