.contenedor-imagen {
  position: relative;
  background-size: contain;
}

.contenedor-imagen>img {
  width: 100%;
  height: auto;
}

.links {
  position: absolute;
  top: 15%;
  left: 63%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  width: 680px;
}

.links>img {
  width: 10%;
  height: 50%;
}

.links>h1 {
  display: inline-block;
  margin: 0 10px;
}

.carrito {
  position: absolute;
  background-size: contain;
  top: 11%;
  left: 81%;
}

.carrito>img {
  width: 20%;
  height: auto;
}

.titulo {
  position: absolute;
  top: 25%;
  left: 50%;
}

.titulo>h1 {
  color: rgb(255, 123, 171);
}

.descripcion {
  position: absolute;
  top: 30%;
  left: 50%;
}

.descripcion>h3 {
  width: 50%;
  color: white;
  text-align: justify;
}

.redes {
  position: absolute;
  top: 15%;
  left: 85%;
}

.redes>img {
  width: 30%;
  height: 100%;
  display: block;
}

.logo {
  position: absolute;
  top: 5%;
  left: 2.5%;
}

.logo>img {
  width: 60%;
  height: auto;
}

.navmid {
  background-color: #222222;
  margin: 0 auto;
}

.imgreloj {
  color: white;
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;}

.imgreloj>img {
  width: 20%;
  height: auto;
}

.imgbolsa {
  top: 50%;
  left: 10%;
  color: white;
  display: inline-block;
  margin-right: 5%;
  text-align: center;
}

.imgbolsa>img {
  width: 20%;
  height: auto;
}

.imgcartel {
  top: 50%;
  left: 10%;
  color: white;
  display: inline-block;
  margin-right: 5%;
  text-align: center;
}

.imgcartel>img {
  width: 20%;
  height: auto;
}

.imgverificado {
  top: 50%;
  left: 10%;
  color: white;
  display: inline-block;
  margin-right: 5%;
  text-align: center;
}

.imgverificado>img {
  width: 20%;
  height: auto;
}

.lista1 {
  display: inline-block;
  position: relative;
  top: 95%;
  left: 7.5%;
}

.lista2 {
  display: inline-block;
  position: relative;
  top: 95%;
  left: 32.5%;
}

.lista3 {
  display: inline-block;
  position: relative;
  top: 95%;
  left: 57.5%;
}

.lista1>p {
  color: rgb(255, 123, 171);
  margin-left: 0%;
}

.lista2>p {
  color: rgb(255, 123, 171);
}

.lista3>p {
  color: rgb(255, 123, 171);
}

.headlist {
  color: rgb(255, 123, 171);
}

.headlist:hover {
  text-decoration: underline;
  scale: 105%;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 3px;
  bottom: 0;
  width: 100%;
}

.link:hover {
  scale: 105%;
  text-decoration: underline;
}

.link>a {
  text-decoration: none;
  color: white;
}

.carrito:hover {
  scale: 110%;
}

.instagram:hover {
  scale: 110%;
}

.facebook:hover {
  scale: 110%;
}

.tiktok:hover {
  scale: 110%;
}

.pinterest:hover {
  scale: 110%;
}

.imgreloj:hover {
  scale: 110%;
}

.imgbolsa:hover {
  scale: 110%;
}

.imgcartel:hover {
  scale: 110%;
}

.imgverificado:hover {
  scale: 110%;
}

.lista1-1:hover {
  scale: 105%;
}

.lista2-1:hover {
  scale: 105%;
}

.lista3-1:hover {
  scale: 105%;
}

.shop-navbar {
  background-color: black;
}

.shop-titulo {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.shop-titulo>h1 {
  color: rgb(255, 123, 171);

}

.shop-links {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
}

.shop-links>h1 {
  display: inline-block;
  margin: 0 10px;
  color: white;
}

.shop-links>a {
  text-decoration: none;
  color: white;
}

.shop-carrito {
  position: absolute;
  background-size: contain;
  top: 10%;
  left: 78%;
}

.carrito>img {
  width: 20%;
  height: auto;
}
