:root {
    --fondo: #0D0D0D;
    --rosa-principal:#FF7BAB;
    --gris-contraste: #F5F5F5;
}

body {
    background-color: var(--fondo);
}

header {
    color: var(--rosa-principal);
    height: 30px;
}


.about_row {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.about_titulo_principal {
    color: var(--rosa-principal);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about_titulo_principal_colum {
    color: var(--rosa-principal);
    display: flex;
    justify-content: space-around;

}

.about_textointermedio {
    color: var(--rosa-principal);
    display: flex;
    justify-content: center;
}

.aboutus_text{
    color:var(--gris-contraste);
    display: flex;
    padding: 20px;
}

.about_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}

.about_imgcolum {
    width: 200px;
    display: flex;
    justify-items: center;
}

.about_colum {
    display: block;
    background-color: var(--gris-contraste);
    border-radius: 10px;
    margin:10px;
}


.about_textocolum {
    color:var(--fondo);
    padding: 20px;
    text-align: justify;
}

hr {
    width: 60px;
    color:rgb(255, 123, 171);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px;
    /* position: fixed;*/
    bottom: 0;
    width: 100%;
}

.listas {
    display: flex;
    justify-items: center;
    flex-direction: column;
}
/* .lista1 {
    display: inline-block;
    position: relative;
    top: 95%;
    left: 7.5%;
}

.lista2 {
    display: inline-block;
    position: relative;
    top: 95%;
    left: 32.5%;
}

.lista3 {
    display: inline-block;
    position: relative;
    top: 95%;
    left: 57.5%;
} */

.lista1>p {
    color: rgb(255, 123, 171);
    margin-left: 0%;
}

.lista2>p {
    color: rgb(255, 123, 171);
}

.lista3>p {
    color: rgb(255, 123, 171);
}

.headlist {
    color: rgb(255, 123, 171);

}

.shop_principal{
    background-color:var(--rosa-principal);
    

}

.shop_box_general {
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
}

.shop_box {
    background-color: var(--gris-contraste);
    display: block;
    border-radius: 10px;
    margin: 10px;
}

.shop_img {
    width: 60%;
}

@media screen and (min-width: 500px) {
    .about_row {
            flex-direction: row;
    }

    .listas {
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }

}

@media screen and (min-width: 1025px) {

}
